apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-secrets
  namespace: {{ .Release.Namespace }}
  labels:
    app: {{ .Chart.Name }}
stringData:
  DISCORD_TOKEN: "{{ .Values.env.DISCORD_TOKEN }}"
  OPENAI_API_KEY: "{{ .Values.env.OPENAI_API_KEY }}"
