replicaCount: 2

image:
  tag: "staging"

resources:
  limits:
    cpu: 1000m
    memory: 1024Mi
  requests:
    cpu: 500m
    memory: 512Mi

probes:
  readiness:
    enabled: true
    path: /health
    port: 3000
    initialDelaySeconds: 5
    periodSeconds: 5
    failureThreshold: 3
  liveness:
    enabled: true
    path: /health
    port: 3000
    initialDelaySeconds: 30
    periodSeconds: 20
    failureThreshold: 5
